lightning  # todo: the tuner depends on L so later using with PL crash
finetuning-scheduler[examples] ==2.3.*
datasets ==2.17.*
# todo: pin version intill reinstall with PT-eco alignment
torch ==2.1.*
torchvision ==0.16.*
