datasets >=2.17.0  # to allow explicitly setting `trust_remote_code`
finetuning-scheduler[examples] <=2.5.0
torch <2.7.0  # todo: ModuleNotFoundError: No module named 'torch.distributed._composable.fsdp._fsdp_api'
torchvision <0.22.0  # pinned compatibiltity for `RuntimeError: operator torchvision::nms does not exist`
