finetuning-scheduler[examples]>=2.0.0
datasets<2.18.0 # todo: some compatibility issue, please pass the argument `trust_remote_code=True`
torch>=1.12.1 # to avoid https://github.com/pytorch/pytorch/issues/80809 with torch 1.12.0
